<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dairyfarmmanagement">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Input_field_exp_and_inco"></activity>
        <activity android:name=".Incomes_Expenses" />
        <activity android:name=".List_of_cows" />
        <activity android:name=".Add_cows" />
        <activity android:name=".User_profile" />
        <activity android:name=".Forgot_password" />
        <activity android:name=".Verify_registration" />
        <activity android:name=".registration" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>